# Node
node_modules/
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
frontend/build/

# OS
.DS_Store
Thumbs.db

# Misc
*.local 

Old_Frontend
COMPONENT_EXAMPLES.md
DESIGN_RECOMMENDATIONS.md
VISUAL_MOCKUPS.md


