.hello_user {
    /* margin: 0; */
    border-radius: 25px;
    backdrop-filter: blur(10px);
    padding: 35px 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.hello_user_box {
    margin-top: 180px;
    background-image: url('../../../assets/banner.jpg');
    border-radius: 25px;
    /* border: 1px solid white; */
}

.hello_user h2 {
    margin: 0;
    font-size: 2rem;
    color: white;
    padding-bottom: 1rem;
}

.hello_user p {
    margin: 10px 0 0 0;
    font-size: 1.25rem;
    color: white;
}

.charts_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0;
}

.charts_1stRow,
.charts_2ndRow {
    display: flex;
    gap: 40px;
    margin: 0 20px;
}

.WeeklyReport_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.WeeklyReport_box_scores,
.WeeklyReport_box_insights {
    flex: 1;
    width: 93%;
    height: 500px;
    padding: 0 25px 20px 25px;
}