.auth-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.auth-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  /* width: 100%; */
}